#contact-hero-con img {
    grid-column: 1/-1;
    grid-row: 1/1;
    justify-self: center;
 }
 
 #contact-hero-con .grid-con {
    grid-column: 2/3;
    grid-row: 1/1;
    margin: 0;
 }
 
 #contact-hero {
    object-fit: cover;
    object-position: center;
    height: 195px;
 }
 
 #contact-hero-heading-box {
    align-self: end;
 }
 
 #contact-hero-text {
    margin-top: 15px;
    margin-bottom: 25px;
 }
 
 #contact-hero-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
 }
 
 #contact-hero-address {
    margin-bottom: 30px;
 }
 
 #contact-hero-address h3 {
    margin-bottom: 25px;
 }
 
 
 
 #contact-hero-form form {
    display: flex;
    flex-direction: column;
 }
 
 #contact-hero-form input, textarea {
    padding: 22px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
    width: 100%;
 }
 
 #contact-hero-form textarea {
    height: 250px;
 }
 
 
 
 #contact-hero-form input[type="submit"] {
    padding: 12px 28px;
    background: #283f84;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-end;
 }
 
 #contact-hero-form input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
 }
 
 @media screen and (min-width: 768px) {
 #contact-hero {
    height: 240px;
 }

 #contact-hero-text {
    padding-top: 50px;
    margin-top: 20px;
 }
 }